//@theme "/home/cyber/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/cyber/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/cyber/.config/rofi/themes/nord.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
